{
  "branches": [
    {
      "name": "main"
    }
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    [
      "@codedependant/semantic-release-docker",
      {
        "dockerProject": "boobielicious",
        "dockerRegistry": "ghcr.io"
      }
    ],
    [
      "@semantic-release/git",
      {
        "message": "chore(release): ${nextRelease.version} [skip ci]"
      }
    ],
    "@semantic-release/github"
  ]
}
